body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#reader {
    margin: auto;
    border: 1px solid #ccc;
}

pre {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    text-align: left;
    white-space: pre-wrap; /* Untuk membungkus teks */
}

h2 {
    margin-top: 20px;
    color: #333;
}